/dts-v1/;

#include <dt-bindings/input/input.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include "ums512.dtsi"

/ {
    model = "Anbernic RG405M";
    compatible = "anbernic,rg405m", "unisoc,ums512";

    aliases {
        serial0 = &uart0;
        mmc0 = &sdio0;  /* eMMC */
        mmc1 = &sdio1;  /* MicroSD Card */
    };

    chosen {
        bootargs = "console=ttyS0,115200n8 root=/dev/mmcblk1p2 rootwait rw quiet loglevel=4";
    };

    /* GPIO Digital Controls (D-Pad, Action Buttons, Triggers) */
    gpio-keys {
        compatible = "gpio-keys";
        pinctrl-names = "default";
        pinctrl-0 = <&gpio_keys_pins>;

        button-up {
            label = "D-Pad Up";
            gpios = <&eic_async 0 GPIO_ACTIVE_LOW>;
            linux,code = <KEY_UP>;
        };

        button-down {
            label = "D-Pad Down";
            gpios = <&eic_async 1 GPIO_ACTIVE_LOW>;
            linux,code = <KEY_DOWN>;
        };

        button-left {
            label = "D-Pad Left";
            gpios = <&eic_async 2 GPIO_ACTIVE_LOW>;
            linux,code = <KEY_LEFT>;
        };

        button-right {
            label = "D-Pad Right";
            gpios = <&eic_async 3 GPIO_ACTIVE_LOW>;
            linux,code = <KEY_RIGHT>;
        };

        button-a {
            label = "East (A)";
            gpios = <&gpio0 4 GPIO_ACTIVE_LOW>;
            linux,code = <BTN_EAST>;
        };

        button-b {
            label = "South (B)";
            gpios = <&gpio0 5 GPIO_ACTIVE_LOW>;
            linux,code = <BTN_SOUTH>;
        };

        button-x {
            label = "North (X)";
            gpios = <&gpio0 6 GPIO_ACTIVE_LOW>;
            linux,code = <BTN_NORTH>;
        };

        button-y {
            label = "West (Y)";
            gpios = <&gpio0 7 GPIO_ACTIVE_LOW>;
            linux,code = <BTN_WEST>;
        };

        button-start {
            label = "Start";
            gpios = <&gpio0 8 GPIO_ACTIVE_LOW>;
            linux,code = <BTN_START>;
        };

        button-select {
            label = "Select";
            gpios = <&gpio0 9 GPIO_ACTIVE_LOW>;
            linux,code = <BTN_SELECT>;
        };

        button-home {
            label = "Home / Function";
            gpios = <&gpio0 10 GPIO_ACTIVE_LOW>;
            linux,code = <BTN_MODE>;
        };
    };

    /* Analog Hall-Sensor Joysticks via SARADC */
    adc-joystick {
        compatible = "adc-joystick";
        io-channels = <&adc 0>, <&adc 1>, <&adc 2>, <&adc 3>;
        poll-interval = <10>;

        axis-left-x {
            linux,code = <ABS_X>;
            abs-range = <0 4095>;
            abs-fuzz = <16>;
            abs-flat = <32>;
        };

        axis-left-y {
            linux,code = <ABS_Y>;
            abs-range = <0 4095>;
            abs-fuzz = <16>;
            abs-flat = <32>;
        };

        axis-right-x {
            linux,code = <ABS_RX>;
            abs-range = <0 4095>;
            abs-fuzz = <16>;
            abs-flat = <32>;
        };

        axis-right-y {
            linux,code = <ABS_RY>;
            abs-range = <0 4095>;
            abs-fuzz = <16>;
            abs-flat = <32>;
        };
    };

    /* 4.0" 640x480 IPS Panel via MIPI-DSI */
    panel {
        compatible = "anbernic,rg405m-panel", "panel-mipi-dsi";
        power-gpios = <&gpio0 15 GPIO_ACTIVE_HIGH>;
        reset-gpios = <&gpio0 16 GPIO_ACTIVE_LOW>;
        backlight = <&backlight>;

        width-mm = <81>;
        height-mm = <61>;

        display-timings {
            native-mode = <&timing0>;
            timing0: timing0 {
                clock-frequency = <25000000>;
                hactive = <640>;
                vactive = <480>;
                hfront-porch = <30>;
                hback-porch = <30>;
                hsync-len = <10>;
                vfront-porch = <10>;
                vback-porch = <10>;
                vsync-len = <4>;
            };
        };
    };

    backlight: backlight {
        compatible = "pwm-backlight";
        pwms = <&pwm 0 5000000>;
        brightness-levels = <0 16 32 64 128 255>;
        default-brightness-level = <4>;
    };

    /* Audio Routing (Headphone Jack & Internal Speakers) */
    sound {
        compatible = "simple-audio-card";
        simple-audio-card,name = "RG405M-Audio";
        simple-audio-card,format = "i2s";
        simple-audio-card,mclk-fs = <256>;

        simple-audio-card,cpu {
            sound-dai = <&i2s0>;
        };

        simple-audio-card,codec {
            sound-dai = <&es8316>;
        };
    };
};
